@model List<TestimonialModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.TestimonialID</td>
            <td>@x.Image</td>
            <td>@x.Name</td>
            <td>@x.Title</td>
            <td><a href="/Staff/DeleteStaff/@x.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger"> Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@x.TestimonialID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>

    }

</table>
<a href="/Staff/AddStaff" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Personel Girişi</a>

